/* Estilo para el contenedor principal del contenido */
.content {
    padding: 20px; /* Espaciado interno de 20 píxeles */
    max-width: 1200px; /* Ancho máximo de 1200 píxeles */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    background-color: #181818; /* Color de fondo negro */
    color: #fff; /* Color del texto blanco */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.986); /* Sombra alrededor del contenedor */
}

/* Estilo para los títulos h2 dentro del contenido */
.content h2 {
    text-align: center; /* Centra el texto */
    margin-bottom: 20px; /* Espaciado inferior de 20 píxeles */
}