/* ESTO ES PARA CORTAR LA PAGINA */
.container {
    max-width: 1200px; /* Ancho máximo del contenedor */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    perspective: 1000px; /* Añade perspectiva al contenedor */
}

/* TODO EL BOX ES EL TEMA DE LA IMAGEN PARA QUE SE CREE COMO CUADROS DE PRESENTACION Y SU TITULO DEBAJO */
.box {
    width: 250px;
    background-color: #2c2a2a;
    margin-bottom: 25px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    overflow: hidden;
    position: relative; /* Añade posición relativa para utilizar coordenadas 3D */
    transition: transform 0.3s, box-shadow 0.3s; /* Transición suave para transformaciones y sombra */
    animation: floating 3s ease-in-out infinite; /* Añadir animación de flotación */
    transform-style: preserve-3d; /* Preserva la transformación 3D de los hijos */
    transform-origin: center center; /* Origen de la transformación en el centro */
    cursor: pointer; /* Añade el cursor de mano */
}

.box img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #000000;
}

.box p {
    text-align: center;
    padding: 10px 0;
    margin: 0;
}

/* Aplica la rotación y la escala en hover */
.box:hover {
    transform: rotateY(20deg) rotateX(20deg) scale(1.05); /* Rotación y escala para el efecto 3D */
    box-shadow: 0 20px 40px rgb(0, 0, 0); /* Sombra más pronunciada para el efecto 3D */
}

/* Efecto de "clic" al mantener el cursor */
.box:active {
    transform: rotateY(10deg) rotateX(10deg) scale(1.02); /* Ligeramente reduce la escala para el efecto de clic */
    box-shadow: 0 10px 20px rgb(0, 0, 0); /* Sombra menos pronunciada para el efecto de clic */
}

/* Definición de la animación floating */
@keyframes floating {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}
