.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
}

.pagination button {
  background-color: #ff1e00;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  margin: 0 5px;
  cursor: pointer;
}

.pagination button:hover {
  background-color: #06b300;
}

.pagination .pages {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.pagination .pages li {
  margin: 0 5px;
}

.pagination .pages a {
  text-decoration: none;
  color: #007bff;
  padding: 5px 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
}

.pagination .pages a:hover {
  background-color: #ccc;
}

.pagination .pages .active {
  background-color: #ccc;
  color: #fff;
}
